body {
	font-family: 'Almendra Display', cursive;
	background: url("images/pan3.jpg")no-repeat;
	background-size: cover;
	text-align: center;
	margin: 0%;
}
.slide {
	height: 300px;
	width: 375px;
	display: inline;
	box-shadow: 0px 100px 100px 0px;
	border-radius: 25px;
	text-align: center;
}
.button {
	height: 125px;
	width: 250px;
	background: url("images/filli.png") no-repeat;
	background-size: contain;
	background-position: center;
	border: none;
	color: rgba(255,215,0,.5);
	font-size: 14pt;
	padding-top: 5px;
}
.button:hover {
	height: 150px;
	width: 275px;
	color: rgb(255,215,0);
}

#allimg {
	position: absolute;
	left: 35%;
	top: 15%;
}
#scroll {
	position: absolute;
	left: 30%;
	top: 60%;

}
header {
	background: url("images/hang.png");
	background-image: cover;
	height: 400px;
}
footer {
	width: 100%;
	background-color: rgba(0,0,0,.75);
	position: fixed;
	top: 81%;
	color: rgba(255,215,0,.75);
	letter-spacing: 10px;
	font-size: 30pt;
}
.letter {
	font-size: 65pt;
}
p {
	margin: 0%;
}
#bord {
	position: absolute;
	top: 15%;
	left: 35%;
	z-index: 100;
	height: 300px;
	width: 375px;
}
#fairy {
	position: absolute;
	height: 40px;
	width: 75px;
	z-index: 101;
}
#fairy2{
	position: absolute;
	height: 40px;
	width: 75px;
	z-index: 101;
	left: 70%;
}
.tiny {
	font-size: 10pt;
}
#lab {
	position: absolute;
	height: 100px;
	width: 100px;
	top: 30%;
	left: 5%;
}
#lab2 {
	position: absolute;
	height: 100px;
	width: 100px;
	top: 30%;
	left: 86%;
	background: url("images/lab2.gif");
	background-size: cover;
	border: none;
}
#nav1 {
	box-shadow: 25px; 
}
#nav1:hover #syn{
	position: absolute;
	display: inline;
	width: 700px;
	height: 300px;
	top: 25%;
	left: 22%;
	background-color: rgba(0,0,0,.85);
	color: white;
	font-size: 16pt;
	z-index: 150;
	padding: 15px;
	line-height: 30px;
}

#syn {
	display: none;
}

#nav2 {
	box-shadow: 25px; 
}

#clip {
	display: none;
}